# --- Email Connector Environment Variables ---

# RabbitMQ Configuration
RABBITMQ_URL=amqp://user:password@rabbitmq:5672 # URL for connecting to RabbitMQ
RABBITMQ_EXCHANGE_NAME=notifications_exchange # Name of the RabbitMQ exchange
RABBITMQ_QUEUE_NAME=email_queue # Name of the queue for email messages
RABBITMQ_BINDING_KEY=email # Binding key for the email queue

# AWS Configuration
AWS_REGION=your-aws-region # AWS region (e.g., us-east-1)
AWS_ACCESS_KEY_ID=your-aws-access-key-id # Your AWS access key ID
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key # Your AWS secret access key
AWS_S3_BUCKET_NAME=your-s3-bucket-name # Name of the S3 bucket where email templates are stored

# AWS SES Configuration
AWS_SES_REGION=your-ses-region # AWS SES region (e.g., us-east-1)

#Database
DB_HOST=postgres # The database host.
POSTGRES_USER=user # Username for the database
POSTGRES_PASSWORD=password # Password for the database
POSTGRES_DB=notifications_db # Name of the database

# Max Retry Attempts
MAX_PROCESSING_ATTEMPTS=3 # Maximum number of processing attempts for a message before marking as failed

# Node ENV
NODE_ENV=development # Environment (development, test, production)