MONGO_URI=mongodb://localhost:27017/webhook

NODE_ENV=development

AWS_REGION=ap-south-1 # AWS region (e.g., us-east-1)
AWS_ACCESS_KEY_ID= # Your AWS access key ID
AWS_SECRET_ACCESS_KEY= # Your AWS secret access key
AWS_S3_BUCKET_NAME=universal-notification # Name of the S3 bucket where email templates are stored
AWS_SECRET_REGION=ap-south-1
AWS_SECRET_NAME=universal-notification

MASTER_ENCRYPTION_KEY=
MAX_RETRY_ATTEMPTS=4

GRPC_HOST=0.0.0.0
GRPC_PORT=5100
INTERNAL_GRPC_KEY=

ALGORITHM=aes-256-gcm