NODE_ENV=development
RABBITMQ_URL=amqp://user:password@localhost:5672 # Match docker-compose credentials
RABBITMQ_EXCHANGE_NAME=notifications_exchange
RABBITMQ_QUEUE_NAME=slack_queue
RABBITMQ_BINDING_KEY=slack # This must match the 'service' value for slack messages
SLACK_BOT_TOKEN=xoxb-

AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=access_key_id
AWS_SECRET_ACCESS_KEY=secret_access_key
