NODE_ENV=development

# AWS Configuration
# AWS region (e.g., ap-south-1)
AWS_REGION=

# Your AWS access key ID
AWS_ACCESS_KEY_ID=

# Your AWS secret access key
AWS_SECRET_ACCESS_KEY=

# Name of the S3 bucket where email templates are stored
AWS_S3_BUCKET_NAME=

# AWS secret region (e.g., ap-south-1)
AWS_SECRET_REGION=

# AWS secret region (e.g., ap-south-1)
AWS_SECRET_NAME=

# url of whatsapp server
WEBHOOK_CALLBACK_URL=

#Server port
PORT=9000