NODE_ENV=development
PORT=9000


# AWS Configuration
# AWS region (e.g., ap-south-1)
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_SECRET_REGION=
AWS_SECRET_NAME=

# url of whatsapp server
WEBHOOK_CALLBACK_URL=


# Redis
REDIS_URL=