name: Build & Push Docker Images

on:
  push:
    branches:
      # - development
      - feature/workflow
    paths:
      - "**/Dockerfile"

env:
  REGISTRY: docker.io
  IMAGE_NAMESPACE: msshahanshah

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - email-connector
          - notification-api
          - slack-connector
          - sms-connector

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: ./${{ matrix.service }}
          file: ./${{ matrix.service }}/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAMESPACE }}/universal-${{ matrix.service }}:latest
            ${{ env.IMAGE_NAMESPACE }}/universal-${{ matrix.service }}:${{ github.sha }}
