name: Build & Push Docker Images

on:
  # push:
  #   branches:
  #     - staging

  workflow_dispatch:
    inputs:
      microservice:
        description: "Microservice to deploy"
        required: true
        type: choice
        options:
          - email-connector
          - notification-api
          - slack-connector
          - sms-connector
      environment:
        description: "Environment to deploy to"
        required: true
        type: choice
        options:
          - stage
          - prod

env:
  REGISTRY: docker.io
  IMAGE_NAMESPACE: msshahanshah

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set environment name
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
              echo "ENVIRONMENT=${{ github.event.inputs.environment }}" >> $GITHUB_ENV
              exit 0
          fi

          if [ "${GITHUB_REF_NAME}" == "main" ]; then
            echo "ENVIRONMENT=prod" >> $GITHUB_ENV
          else
            echo "ENVIRONMENT=stage" >> $GITHUB_ENV
          fi

      - name: Build and Push Service
        uses: ./.github/actions/build-push
        with:
          service: ${{ github.event.inputs.microservice }}
          image_namespace: ${{ env.IMAGE_NAMESPACE }}
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
          image_name: ${{
            github.event.inputs.microservice == 'notification-api' && env.ENVIRONMENT == 'prod' && 'un-api-prd' ||
            github.event.inputs.microservice == 'notification-api' && 'un-api' ||
            env.ENVIRONMENT == 'prod' && format('un-{0}-prd', github.event.inputs.microservice) ||
            format('un-{0}', github.event.inputs.microservice)
            }}
          tag: ${{ github.run_number }}

      - name: Print deployment info
        run: |
          echo "Microservice : ${{ github.event.inputs.microservice }}"
          echo "Environment  : ${{ env.ENVIRONMENT }}"
          echo "Image tag    : ${{ github.run_number }}"