name: Build & Push Docker Images

on:
  push:
    branches:
      - staging
    paths:
      - "email-connector/**"
      - "notification-api/**"
      - "slack-connector/**"
      - "sms-connector/**"

  workflow_dispatch:
    inputs:
      deploy_branch:
        description: "Branch to deploy"
        required: true
        default: staging

env:
  REGISTRY: docker.io
  IMAGE_NAMESPACE: msshahanshah

jobs:
  filter:
    runs-on: ubuntu-latest
    outputs:
      services: ${{ steps.filter.outputs.changes }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.deploy_branch || github.ref_name }}


      - name: Detect changes
        id: filter
        uses: dorny/paths-filter@v3
        with:
          base: ${{ github.event.inputs.deploy_branch || github.ref_name }}
          filters: |
            email-connector: 'email-connector/**'
            notification-api: 'notification-api/**'
            slack-connector: 'slack-connector/**'
            sms-connector: 'sms-connector/**' 

  build-and-push:
    needs: filter
    if: ${{ needs.filter.outputs.services != '[]' && needs.filter.outputs.services != '' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: ${{ fromJSON(needs.filter.outputs.services) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.deploy_branch || github.ref_name }}

      - name: Build and Push Service
        uses: ./.github/actions/build-push
        with:
          service: ${{ matrix.service }}
          image_namespace: ${{ env.IMAGE_NAMESPACE }}
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
          image_name: ${{ matrix.service == 'notification-api' && 'un-api' || format('un-{0}', matrix.service) }}
          tag: ${{ github.run_number }}

      - name: Print image tag
        run: |
          echo "Docker image pushed with tag: ${{ github.run_number }}"