NODE_ENV=development
PORT=3000
RABBITMQ_URL=amqp://user:password@localhost:5672 # Match docker-compose credentials
RABBITMQ_EXCHANGE_NAME=notifications_exchange
ACCESS_TOKEN_SECRET=access_token
ACCESS_TOKEN_TIME=15M
REFRESH_TOKEN_SECRET=refresh_tokne
REFRESH_TOKEN_TIME=7D

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=notifications_db
POSTGRES_HOST=postgres

AWS_SECRET_REGION=ap-south-1
AWS_ACCESS_KEY_ID=access_key_id
AWS_SECRET_ACCESS_KEY=secret_access_key
INTERNAL_GRPC_KEY=grpc_key
GRPC_URL=localhost:6000